<a href="https://colab.research.google.com/github/12susmi/restaurant-location-based-analysis/blob/main/susmi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()
import pandas as pd
df = pd.read_csv("data_set.csv")
df.head()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,6))
plt.scatter(df["Longitude"], df["Latitude"], alpha=0.5)
plt.xlabel("Longitude")
plt.ylabel("Latitude")
plt.title("Geographical Distribution of Restaurants")
plt.show()

In [ ]:
city_counts = df["City"].value_counts()
plt.figure(figsize=(12,6))
city_counts.head(10).plot(kind="bar")
plt.title("Top 10 Cities with Most Restaurants")
plt.xlabel("City")
plt.ylabel("Number of Restaurants")
plt.show()

In [ ]:
avg_ratings = df.groupby("City")["Aggregate rating"].mean().sort_values(ascending=False)
plt.figure(figsize=(12,6))
avg_ratings.head(10).plot(kind="bar", color="orange")
plt.title("Top Cities with Highest Average Ratings")
plt.ylabel("Average Rating")
plt.show()

In [ ]:
avg_price = df.groupby("City")["Price range"].mean().sort_values(ascending=False)
plt.figure(figsize=(12,6))
avg_price.head(10).plot(kind="bar", color="green")
plt.title("Average Price Range by City")
plt.ylabel("Average Price Range")
plt.show()

In [ ]:
top_cuisines = df.groupby("City")["Cuisines"].apply(lambda x: x.value_counts().head(1))
top_cuisines.head(10)

In [ ]:
print("\n--- LOCATION BASED INSIGHTS ---\n")
print("1. City with most restaurants:")
print(city_counts.idxmax(), "→", city_counts.max(), "restaurants\n")
print("2. City with highest average rating:")
print(avg_ratings.idxmax(), "→ Rating:", round(avg_ratings.max(), 2), "\n")
print("3. City with highest price range:")
print(avg_price.idxmax(), "→ Price Range:", round(avg_price.max(), 2), "\n")
print("4. Sample top cuisines by city:")
print(top_cuisines.head(10))